{% extends 'polls/base.html' %}
{% load static %}

<head>
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
        <link rel="stylesheet" href="{% static 'polls/detail.css' %}">
    {% endblock stylesheet %}
    <title>{% block title %} {{ question.question_text }} {% endblock title %}</title>
</head>
<body>
    {% block content %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}s
            {% for choice in question.choice_set.all %}
                <input 
                id="choice{{ forloop.counter }}"
                name="choice"
                type="radio"
                value="{{ choice.id }}"
                >
                <label for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label>
                <br>
            {% endfor %}
        </fieldset>
        <input name="vote" type="submit" value="votar">
    </form>
    {% endblock content %}
</body> 



<!--<h1>{{ question.question_text }} </h1>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor%}
</ul> " -->